html, body {
    height: 100%;
    background: url('../images/background.jpg') no-repeat center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}

h1, h4 {
  text-align: center;
  color: white;
}

.attack {
  height: 50px;
}

.button {
  height: 150px;
}

.pics {
  height: 100px;
  width: 200px;
}

.nametext {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.hptext {
  font-family: sans-serif;
  font-weight: bold;
  color: darkred;
}
